@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #514474;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background-color: #1e1658;
  padding-top: 30px;
  margin-top: 40px;
  border-radius: 4px;
  width: 110%;
  padding-bottom: 20px;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #010106;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #361dda;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  border-radius: 5px;
}

.todo-input::placeholder {
  color: #ffffff4d;
  border-radius: 5px;
}

.todo-btn {
  background: #c9c3d8;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1880d6;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  margin: 20px;
  padding-bottom: 10px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #40dc32;
  text-decoration: line-through;
}
 